---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Hedonya Hospitality" />
    <meta
      name="description"
      content="Introduction to next-gen property management in Cairo and Alexandria, Egypt"
    />
  </head>

  <section class="relative flex h-[100vh] bg-[#1D1C1C] shrink-0 flex-col">
    <img
      class="pl-5 md:pl-10 pt-5 md:pt-10 w-24 md:w-24"
      src="/logo.webp"
      loading="lazy"
      alt="one"
    />
    <div
      class="absolute bottom-0 left-0 w-3/4 md:w-2/3 pl-5 md:pl-10 pb-20 md:pb-10"
    >
      <h1 class="text-5xl font-soehne md:text-8xl leading-20 text-white">
        Next-gen <br /> Property <br /> Management
      </h1>
      <a href="mailto:hello@hedonyahospitality.com"
        ><button
          class="text-white font-soehne my-5 px-5 py-2 border border-white text-xl font-bold"
          >Start Now</button
        >
      </a>
    </div>
  </section>

  <section class="bg-[#1D1C1C] pt-24">
    <div class="w-11/12 md:w-3/4 mx-auto border-t-[1px] border-white">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-24 mt-5">
        <div
          class="col-span-1 md:w-2/3 text-white font-heldane text-5xl pl-2 mb-5 md:mb-0"
        >
          What is Hedonya?
        </div>
        <div>
          <p class="col-span-1 text-white font-soehne">
            At Hedoyna, we blend cutting-edge technology with our passion for
            hospitality to deliver an unparalleled property management
            experience. Our innovative platform simplifies the complexities of
            short-term rentals, transforming your property into a profitable and
            stress-free investment.
          </p>
          <a href="mailto:hello@hedonyahospitality.com">
            <button
              class="border border-white text-white my-5 px-5 py-2 font-bold"
            >
              Start Now</button
            >
          </a>
        </div>
      </div>
      <img
        class="w-full my-10 hover:grayscale-0"
        src="/six.webp"
        loading="lazy"
        alt="one"
      />
    </div>

    <div class="w-11/12 md:w-3/4 mx-auto border-t-[1px] border-white mt-32">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-24 mt-5">
        <div
          class="col-span-1 md:w-2/3 text-white font-heldane text-5xl pl-2 mb-5 md:mb-0"
        >
          What do we do?
        </div>
        <div class="text-white font-soehne col-span-1">
          <p class="text-white font-soehne">
            Become part of a community of successful short-term rental owners
            who trust Hedonya to elevate their rental experience. Whether you
            own a cozy studio or a luxury villa, we have the expertise to turn
            your property into a flourishing venture.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-24 my-10">
        <div class="mb-10">
          <p class="text-white font-soehne underline mb-5">
            Comprehensive Care
          </p>
          <img
            class="w-full my-5 hover:grayscale-0"
            src="/one.webp"
            loading="lazy"
            alt="one"
          />
          <p class="text-white font-soehne">
            From housekeeping to maintenance, our local professionals keep your
            property pristine and guests happy, preserving the value of your
            investment. Our dedicated team provides around-the-clock assistance,
            ensuring every guest enjoys a seamless and memorable stay.
          </p>
        </div>
        <div>
          <p class="text-white font-soehne underline mb-5">
            Transparent Reporting
          </p>
          <img
            class="w-full my-5 hover:grayscale-0"
            src="/three.webp"
            loading="lazy"
            alt="one"
          />
          <p class="text-white font-soehne">
            Stay informed with our clear, concise monthly reports that detail
            your rental performance, earnings, and guest feedback. Our
            Transparent Reporting system is designed to give property owners
            peace of mind and complete understanding of their investment's
            returns.
          </p>
        </div>
      </div>
    </div>

    <div class="w-11/12 md:w-3/4 mx-auto border-t-[1px] border-white mt-32">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-24 mt-5">
        <div
          class="col-span-1 md:w-2/3 text-white font-heldane text-5xl pl-2 mb-5 md:mb-0"
        >
          Why should I choose Hedonya?
        </div>
        <div class="text-white font-soehne">
          <p class="col-span-1 text-white font-soehne">
            Become part of a community of successful short-term rental owners
            who trust Hedonya to elevate their rental experience. Whether you
            own a cozy studio or a luxury villa, we have the expertise to turn
            your property into a flourishing venture.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-x-24 my-10">
        <div class="mb-10">
          <p class="text-white font-soehne underline mb-5">
            Next-Gen Technology
          </p>
          <img
            class="w-full my-5 hover:grayscale-0"
            src="/four.webp"
            loading="lazy"
            alt="one"
          />
          <p class="text-white font-soehne">
            Utilize our state-of-the-art algorithms that optimize your listings
            across multiple platforms, ensuring maximum occupancy and revenue.
          </p>
        </div>
        <div class="mb-10">
          <p class="text-white font-soehne underline mb-5">Dynamic Pricing</p>
          <img
            class="w-full my-5 hover:grayscale-0"
            src="/five.webp"
            loading="lazy"
            alt="one"
          />
          <p class="text-white font-soehne">
            We use real-time market data to adjust your rental prices, ensuring
            you earn the highest possible income, whatever the season.
          </p>
        </div>
        <div>
          <p class="text-white font-soehne underline mb-5">
            Streamlined Operations
          </p>
          <img
            class="w-full my-5 hover:grayscale-0"
            src="/two.webp"
            loading="lazy"
            alt="one"
          />
          <p class="text-white font-soehne">
            From check-in to check-out, we handle all the logistics, providing
            guests with a smooth, enjoyable experience.
          </p>
        </div>
      </div>
      <a href="mailto:hello@hedonyahospitality.com">
        <button
          class="text-white font-soehne my-5 px-5 py-2 border border-white md:text-xl font-bold w-full"
          >Start Now</button
        >
      </a>
      <div
        class="grid grid-cols-1 md:grid-cols-6 text-white font-soehne mt-48 pb-32"
      >
        <div>
          <img
            class="w-24 md:w-24 hover:grayscale-0"
            src="/logo.webp"
            loading="lazy"
            alt="one"
          />
        </div>
        <div></div>

        <div></div>
        <div></div>

        <div>
          <p class="font-bold mt-5 mb-1">Locations</p>
          <p>Cairo</p>
          <p>Alexandria</p>
        </div>
      </div>
    </div>
  </section>
  <div class="h-[23px] mt-[1px] bg-[#1D1C1C]"></div>
  <div class="h-[22px] mt-[2px] bg-[#1D1C1C]"></div>
  <div class="h-[21px] mt-[3px] bg-[#1D1C1C]"></div>
  <div class="h-[20px] mt-[4px] bg-[#1D1C1C]"></div>
  <div class="h-[19px] mt-[5px] bg-[#1D1C1C]"></div>
  <div class="h-[18px] mt-[6px] bg-[#1D1C1C]"></div>
  <div class="h-[17px] mt-[7px] bg-[#1D1C1C]"></div>
  <div class="h-[16px] mt-[8px] bg-[#1D1C1C]"></div>
  <div class="h-[15px] mt-[9px] bg-[#1D1C1C]"></div>
  <div class="h-[14px] mt-[10px] bg-[#1D1C1C]"></div>
  <div class="h-[13px] mt-[11px] bg-[#1D1C1C]"></div>
  <div class="h-[12px] mt-[12px] bg-[#1D1C1C]"></div>
  <div class="h-[11px] mt-[13px] bg-[#1D1C1C]"></div>
  <div class="h-[10px] mt-[14px] bg-[#1D1C1C]"></div>
  <div class="h-[9px] mt-[15px] bg-[#1D1C1C]"></div>
  <div class="h-[8px] mt-[16px] bg-[#1D1C1C]"></div>
  <div class="h-[7px] mt-[17px] bg-[#1D1C1C]"></div>
  <div class="h-[6px] mt-[18px] bg-[#1D1C1C]"></div>
  <div class="h-[5px] mt-[19px] bg-[#1D1C1C]"></div>
  <div class="h-[4px] mt-[20px] bg-[#1D1C1C]"></div>
  <div class="h-[3px] mt-[21px] bg-[#1D1C1C]"></div>
  <div class="h-[2px] mt-[22px] bg-[#1D1C1C]"></div>
  <div class="h-[1px] mt-[23px] bg-[#1D1C1C]"></div>

  <div class="h-[10vh]"></div>

</html>
